
<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
  <a href='/auth/github'>Login with Github</a><br>
  <input type="text" name="model[name]" value="Enter Model Name" />
  <input type="submit" value="Submit" />
</form>
